body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  background-image: url('../src/assets/images/bg.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --clr-1: #000000;
  --clr-2: #666666;
  --clr-2-1: #a1a1a1;
  --clr-3: #fff;

}